---
layout: default
---
<script type="text/javascript">

  var enumerateDaysBetweenDates = function (startDate, endDate) {
    var dates = [];

    var currDate = moment(startDate).startOf('day').add(-1, 'months');
    var lastDate = moment(endDate).startOf('day');

    while (currDate.add(1, 'months').diff(lastDate) < 0) {
      //console.log(currDate.toISOString());
      dates.push(currDate.clone().toDate());
    }

    return dates;
  };
  $(function () {

    $('#user').click(() => {
      $('#monthSelect').toggleClass('show');
    });
    

    trackingStartDate = moment.parseZone('2015-09-01T00:00Z');
    endDate = moment.parseZone('2018-03-10T00:00Z');
    //dates = enumerateDaysBetweenDates(trackingStartDate, new Date()).reverse();
    dates = enumerateDaysBetweenDates(trackingStartDate, endDate).reverse();

    //console.log(dates);


    dates.forEach(dt => {
      var m = moment(dt).utc();
      //var queryString = "?dateStart=" + m.format("YYYY-MM-DD") + "&dateStop=" + m.clone().add(1, 'months').format("YYYY-MM-DD");
      var queryString = "?date=" + m.format("YYYY-MM");
      var p = $("<a>").text(m.format("YYYY-MM")).attr("href", queryString);
      $("#monthSelect").append(p);
    });

    var dateStart = getParameterByName("date");


    if(!dateStart){
      dateStart = dates[0];
    }
    dateStart = moment.tz(dateStart, 'UTC').utc();

    $('#user').text("Monthly leaderboard for {{page.title}} (" + dateStart.format("YYYY-MM") + ")");

    var dateStop = dateStart.clone().add(1, 'months');

    //console.log("Date: " + dateStart.toISOString() + " - " + moment(dateStop).toISOString());

    var url = "{{ site.base_api_url }}/api/trial/" + getPlatform() + "/{{ page.trialtype }}/top/100/" + dateStart.format("YYYYMM");
    $.get(url, function (data) {
      var sorted = data.sort(function (a, b) { return (a.time < b.time) ? -1 : ((b.time < a.time) ? 1 : 0); });
      populateTable(data);
    });

  });
</script>
